{% extends 'base.html.twig' %}

{% block title %}Просмотр тусовки{% endblock %}

{% block body %}
    <h1><i>Тусовка "{{ party.name }}"</i></h1>

    <table class="table">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ party.id }}</td>
            </tr>
            <tr>
                <th>Название</th>
                <td>{{ party.name }}</td>
            </tr>
            <tr>
                <th>Дата</th>
                <td>{{ party.dateAt ? party.dateAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Локация</th>
                <td>{{ party.location }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_party_index') }}">Вернуться</a>

    <a href="{{ path('app_party_edit', {'id': party.id}) }}">Редактировать</a>

    {{ include('party/_delete_form.html.twig') }}
{% endblock %}
